@import "tailwindcss";
@plugin "tailwindcss-noise";

@font-face {
    font-family: 'PF Papernote';
    src: url('../assets/fonts/PF Papernote/PFPAPERNOTEROUGHLIGHT-REGULAR.OTF') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Papernote';
    src: url('../assets/fonts/PF Papernote/PFPAPERNOTEROUGHHEAVY-REGULAR.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@theme {
    /* COLORS */
    --color-base-100: oklch(14% 0.004 49.25);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: oklch(26% 0.007 34.298);
    --color-base-400: oklch(37% 0.01 67.558);
    --color-base-500: oklch(44% 0.011 73.639);
    --color-base-600: oklch(55% 0.013 58.071);
    --color-base-700: oklch(70% 0.01 56.259);
    --color-base-800: oklch(86% 0.005 56.366);
    --color-base-900: oklch(98% 0.001 106.423);

    /* FONTS */
    --font-grunge: 'Road Rage', system-ui;
    --font-mono: 'JetBrains Mono Variable', monospace;
    --font-papernote: 'PF Papernote', system-ui;

    /* TEXT SIZES */
    --text-216: 13.5rem;
    --text-128: 8rem;
    --text-96: 6rem;
    --text-80: 5rem;
    --text-64: 4rem;
    --text-48: 3rem;
    --text-40: 2.5rem;
    --text-32: 2rem;
    --text-24: 1.5rem;
    --text-20: 1.25rem;
    --text-16: 1rem;
    --text-12: 0.75rem;

    /* ANIMATIONS */
    --animate-spin: spin 5s linear infinite;
    @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
    }

    /* BREAKPOINTS */
    --breakpoint-xsm: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1440px;
}
