---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ImageContainer from "../../elements/ImageContainer.astro";

// assets
import about from "../../../assets/images/about.jpg";
---

<Container variant={'xl'} class="flex flex-col gap-8">
    <nav class="flex flex-wrap gap-4 md:gap-8">
        <a href="/" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">Home</a>
        <a href="/works" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">Posters</a>
        <a href="/about" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">About</a>
    </nav>
    <Heading tagName="h1" tagSize="h1" class="md:-translate-y-[90px]">about</Heading>
    <div class="flex md:flex-row flex-col gap-8 md:gap-16 md:items-center md:-translate-y-[280px]">
        <div class="flex-1 flex flex-col gap-7 md:-translate-y-[15px]">
            <Text variant={'xl'} class="text-base-900">Η Στοα 60 είναι ένα αυτοδιαχειριζόμενο υπόγειο στο κέντρο του Ηρακλείου, στο οποίο μία ομάδα ξεκίνησε να οργανώνει συναυλίες σχεδόν εβδομαδιαία πριν περίπου δέκα χρόνια.</Text>
            <Text variant={'sm'} class="text-base-900">Η ομάδα στηρίζει την ανεξάρτητη μουσική σκηνή και δεν βασίζεται στη λογική του κέρδους και της βιομηχανίας του θεάματος. Λειτουργεί σε ένα πλαίσιο ισότητας, χωρίς διαχωρισμούς μεταξύ μουσικών-κοινού-διοργανωτών, χωρίς περιορισμούς σε μουσικά είδη και ενάντια σε σεξιστικές, φασιστικές και ρατσιστικές συμπεριφορές. Βλέπουμε την μουσική σαν ένα μέσο έκφρασης, διάδοσης ιδεών και αφορμή κοινωνικοποίησης, αλληλεπίδρασης και συνδιαμόρφωσης. Τα λειτουργικά έξοδα καλύπτονται αποκλειστικά από το κουτί ενίσχυσης και το Bar, που λειτουργούν με ελεύθερη συνεισφορά. Είναι η ελάχιστη αναγκαιότητα για να υπάρχει ευπρεπής εξοπλισμός, να καλύπτονται τα μεταφορικά των καλλιτεχνών και τα λειτουργικά έξοδα του χώρου. Η βιωσιμότητα του εγχειρήματος βασίζεται στην</Text>
        </div>
        <div class="flex-1 md:h-auto w-full md:-translate-y-[160px]">
            <ImageContainer src={about} alt="About"/>
        </div>
    </div>
</Container>