---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ImageContainer from "../../elements/ImageContainer.astro";

// assets
import about from "../../../assets/images/about.jpg";
---

<Container variant={'xl'} class="flex flex-col gap-8">
    <nav class="flex flex-wrap gap-4 md:gap-8">
        <a href="/" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">Home</a>
        <a href="/works" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">Posters</a>
        <a href="/about" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">About</a>
        <a href="/contact" class="text-base-900 font-grunge text-3xl underline underline-offset-4 decoration-2 hover:text-base-700">Contact</a>
    </nav>
    <Heading tagName="h1" tagSize="h1" class="md:-translate-y-[90px]">about</Heading>
    <div class="flex md:flex-row flex-col gap-8 md:gap-16 md:items-center md:-translate-y-[280px]">
        <div class="flex-1 flex flex-col gap-7 md:-translate-y-[15px]">
            <Text variant={'xl'} class="text-base-900">Eimai o Vasilis kai mou aresei na stinw live kai na roufaw kavlia. To oneiro mou einai kapoia stigmi na paixw metalofono stous mellow lizard enw anipomono gia tin imera pou i body blows tha ipograpsi tin kaiti garbi.</Text>
            <Text variant={'sm'} class="text-base-900">Den einai makria i mera pou tha paratisw ti stoa kai tha anoixw ena diko mou xwro pou tha fernw mono post noiz experimental dungeon synth punk. Den xreiazomai kanenan ektos apo to kounelo na stinei live kai to themeliwti na katharizei. Ntax ki o pagalos kalos einai, alla kiriws thelw na xefortotho ti xamoura ti vasilo.</Text>
        </div>
        <div class="flex-1 md:h-auto w-full md:-translate-y-[160px]">
            <ImageContainer src={about} alt="About"/>
        </div>
    </div>
</Container>