---
// stylesheet
import "../styles/global.css";

// components
import BaseHead from "../components/global/BaseHead.astro";
import Wrapper from "../components/global/Wrapper.astro";
import NavBar from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";

// assets
import '@fontsource/road-rage';
import '@fontsource-variable/jetbrains-mono';
import bg from "../assets/images/bg.jpg";
import { getImage } from "astro:assets";
const backgroundImage = await getImage({src: bg, format:'jpg'})

// props
const { title, footerAlignRight = false } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<BaseHead pageTitle={title}/>
	<body style=`background-image: url(${backgroundImage.src})` class="bg-cover bg-center bg-no-repeat bg-fixed box-border">
		<!-- Background noise effect -->
		<div class="noise-[67,22,25] fixed inset-0 pointer-events-none"></div>
		<!-- Wrapper component to make sure all content on the website is above the noise filter background -->
		<Wrapper>
			<main class="flex flex-col">
				<slot />
			</main>
			<Footer alignRight={footerAlignRight} />
		</Wrapper>
	</body>
</html>


