---
const { pageTitle } = Astro.props;
---
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="STOA60 - Underground gigspace in Iraklion">
	<meta name="generator" content={Astro.generator} />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>Stoa60 - {pageTitle}</title>
</head>

